server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:camunda;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

camunda:
  bpm:
    admin-user:
      id: demo
      password: demo
      firstName: Demo
    filter:
      create: All tasks
    deployment-resource-pattern:
      - classpath*:**/*.bpmn
      - classpath*:**/*.dmn
    generic-properties:
      properties:
        enforceHistoryTimeToLive: false

logging:
  level:
    org.springframework.boot.autoconfigure: DEBUG